<div>
  <h1 class="title has-text-centered mt-6">スペースを貸したい人も借りたい人も簡単にシェアできる</h1>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-5">
        <%= image_tag 'depositphotos_32808947-stock-photo-tokyo-city-skyline.jpeg' %>
      </div>  
      <div class="column">
        <h2 class="title has-text-centered">サービス</h2>
        <p class="has-text-centered is-size-4">プレイスシェアは空き部屋、空きスペースを<br>
        貸したい人と借りたい人をマッチングするサービスです。</p>
        <p class="has-text-centered is-size-4 my-6">あなたの使っていないスペースを<br>
        必要としている人がいるかもしれません。</p>
        <p class="has-text-centered is-size-4">まずはどんなスペースがあるか覗いてみてください。</p>
      </div>
    </div>
  </div>
</section>
